# Exercise - Download and Load Flat Files - STARTER

In this exercise, you will apply your skills to programmatically unzip a .zip folder and gather data from a .tsv and .csv file into pandas dataframes.

In [1]:
#DO NOT MODIFY - imports
import pandas as pd
import zipfile

## 1. Unzip .zip file programmatically

We will load data from the Rotten Tomatoes Top 100 Movies of All Time list along with some short reviews. We've pre-gathered this dataset and stored them in the `reviews.zip` file.

For the first part of this exercise, unzip the `reviews.zip` in read mode using a context manager.

In [4]:
#FILL IN - unzip the zip file in read mode using a context manager
with zipfile.ZipFile("reviews.zip","r") as zip_ref:
    zip_ref.extractall("reviews_csv/")

In [5]:
ls reviews_csv

bestofrt.tsv  reviews.csv

## 2. Load the TSV file

The `reviews` folder contains a `bestofrt.tsv` file which includes the following columns:

- `ranking`: Rank of the movie
- `critic_score`: Rating
- `title`: Title of the movie
- `number_of_critic_ratings`: Number of reviews

The data has 101 rows.

Now, load the .tsv file into a pandas dataframe while:
1. Specifying the data types of the individual columns
2. Denoting the `ranking` column as the index.

In [13]:
#FILL IN - load a tsv into a pandas dataframe
bestofrt_df = pd.read_csv('reviews_csv/bestofrt.tsv', sep='\t')

In [14]:
#FILL IN - show the dataframe
bestofrt_df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

## 3. Load the CSV file

We've also included a review dataset, `reviews.csv`, in the folder, consisting of synthetic data around individual viewers who wrote short reviews and provided ratings corresponding to the movies.

Now load the .csv file into a dataframe **while** doing the following:
- Marketing the 'Not Collected' values as NaNs
- Defining the header as the first (0th) row of the .csv

In [15]:
#FILL IN - load a csv into a pandas dataframe
reviews_df = pd.read_csv('reviews_csv/reviews.csv')

In [16]:
#FILL IN - show the dataframe
reviews_df.head()

,Movie,Viewer,Review,Rating
0,The Wizard of Oz (1939),"Mark,Mary","Great movie, excellent plot!",5
1,Get Out (2017),"Tariq,Candice",Could have had better character devlopment.,3
2,The Wizard of Oz (1939),Olga,Ok.,Not Collected
3,Dunkirk (2017),"Candice,Tariq","I loved it, recommended it to all my friends!",5
4,The Jungle Book (2016),Olga,"A great movie, but I felt the plot was rushed.",4